body{
    background-image: url("harry.jpg");
    color: rgb(0, 0, 0);
    font-family: "Fontdiner Swanky";
    text-align: center;
}
html {
  scroll-behavior: smooth;
}

.section{
    max-width:1000px;
    margin-top: 100px;
    margin-left: 85px;
    background:#ffffff;
    padding:30px;
    margin-bottom:30px;
    border:3px solid gold;
    border-radius:10px;
    font-size:20px;
}
.image-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
    padding: 0;

}

.image-char{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 70px;
    padding: 0;
}

.imgA{
    margin-left: 50px;
    border: 1px solid gold;
}
.imgB{
    border: 1px solid gold;
}
.title2{
    color: rgb(175, 157, 55);
    
}
#books:hover{
    background-color: rgb(101, 55, 175);
    color: rgb(101, 55, 175);
    
}
#movies:hover{
    background-color: rgb(101, 55, 175);
    color: rgb(101, 55, 175);
    
}
#movies{
    padding: 5px;
    border: rgb(101, 55, 175) solid 2px;
    border-radius: 5px;
    font-family: "Fontdiner Swanky";
    color: black;
    box-shadow: 10px 10px 30px rgb(101, 55, 175);
}
#books{
    padding: 5px;
    border: rgb(101, 55, 175) solid 2px;
    border-radius: 5px;
    font-family: "Fontdiner Swanky";
    color: black;
    box-shadow: 10px 10px 30px rgb(101, 55, 175);
}

    
